{% extends '::base.html.twig' %}

{% block title %}Добавление эксперимента | {{ parent() }}{% endblock %}

{% block body %}

<div class="content position-fix welcome-reg-content">



    <form id="newExp" autocomplete="off" action="{{ path("newExperiment") }}" method="post" name="newExp">

        {% if user.experiments is empty %}
            <h1>Эксперимент № 1</h1>
        {% else %}
            {% for experiment in user.experiments %}
                <h1>Эксперимент № {{ experiment.id+1 }}</h1>
            {% endfor %}
        {% endif %}

        <div class="al-center marg-auto">
            <label for="name-field" class="al-center disp-block">Название: </label>
            <input type="text" id="name-field" name="_expname" size="30" tabindex="1" required>
        </div>

        <div class="al-center marg-auto">
            <label for="des-field" class="al-center disp-block">Описание: </label>
            <textarea id="des-field" name="_description" cols="37" tabindex="2" required></textarea>
        </div>

        <div class="al-center marg-auto">
            <label for="datepicker" class="al-center disp-block">Выберите дату: </label>
            <input type="text" id="datepicker" name="_expdate" size="25" tabindex="3" required>
        </div>

        <select name="_processor" class="disp-block marg-auto marg-top-14" tabindex="3" required>
            <option selected="selected" disabled>Выберите процессор: </option>
            <option>Intel Core 2</option>
            <option>Intel Celeron</option>
            <option>Intel Pentium</option>
            <option>Intel Core i3</option>
            <option>Intel Core i5</option>
            <option>Intel Core i7</option>
            <option>AMD Sempron</option>
            <option>AMD Athlon II</option>
            <option>AMD Phenom II</option>
            <option>AMD A</option>
            <option>AMD FX</option>
        </select>

        <select name="_status" class="disp-block marg-auto marg-top-14" tabindex="4" required>
            <option selected="selected" disabled>Выберите статус: </option>
            <option>Активный</option>
            <option>Закрытый</option>
            <option>В процессе</option>
        </select>

        <i><p class="text-error al-center">Все поля обязательны для заполнения</p></i>

        <div class="sent-reset marg-auto">
            <a href="{{ path('userPage',{'id':user.id}) }}" class="btn">Назад</a>
            <button type="submit" class="fl-right btn btn-success" id="" tabindex="5">Создать</button>
        </div>


    </form>

</div>

    <script>
        $(function() {
            $( "#datepicker" ).datepicker();
        });
    </script>


{% endblock %}






