{% extends '::base.html.twig' %}

{% block title %}Добавление эксперимента | {{ parent() }}{% endblock %}

{% block body %}

<div class="content position-fix welcome-reg-content">



    <form id="newExp" autocomplete="off" action="{{ path("newExperiment") }}" method="post" name="newExp">

        {% if user.experiments is empty %}
            <h1>Эксперимент № 1</h1>
        {% else %}
        {% for experiment in user.experiments %}
        <h1>Эксперимент № {{ loop.index+1 }} </h1>
        {% endfor %}
        {% endif %}

        <div class="al-center marg-auto">
            <label for="name-field" class="al-center disp-block">Название: </label>
            <input type="text" id="name-field" name="_expname" size="30" tabindex="1" required>
        </div>

        <div class="al-center marg-auto">
            <label for="des-field" class="al-center disp-block">Описание: </label>
            <textarea id="des-field" name="_description" cols="37" tabindex="2"></textarea>
        </div>

        <div class="al-center marg-auto">
            <label for="datepicker" class="al-center disp-block">Выберите дату: </label>
            <input type="text" id="datepicker" name="_expdate" size="25" tabindex="3">
        </div>


        <select name="_status" class="disp-block marg-auto marg-top-14" tabindex="4" >
            <option selected="selected" disabled>Выберите статус: </option>
            <option>Активный</option>
            <option>Закрытый</option>
            <option>В процессе</option>
        </select>



        <div class="sent-reset marg-auto">
            <a href="{{ path('userPage',{'id':user.id}) }}" class="btn">Назад</a>
            <button type="submit" class="fl-right btn btn-success" id="" tabindex="5">Создать</button>
        </div>


    </form>

</div>

    <script>
        $(function() {
            $( "#datepicker" ).datepicker();
        });
    </script>


{% endblock %}






